.product {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: 1200px;
}

.product_list {
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 15px 15px;
}

.product_list > div {
  height: 230px;
  color: #000000;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px;
  font-size: 1rem;
}

@media screen and (max-width: 420px) {
  .product_list {
    grid-template-columns: 100%;
  }
}

.filterWrap {
  /* width: 100%;
  max-width: 740px;
  height: 50px; */
  /* width: 100%; */
  display: flex;
  /* justify-content: end; */
  margin-bottom: 10px;
  /* overflow-x: scroll; */
}

.filterWrap > button {
  width: 100%;
  max-width: 110px;
  height: 45px;
  /* margin-left: 10px; */
  /* padding: 10px 10px; */
  border: 0px;
  border-radius: 5px;
  background-color: #5e584e;
  color: #ffffff;
  flex: 0 0 auto;
  margin-right: 10px;
}

.selectWrap {
  width: 100%;
  display: flex;
  /* justify-content: end; */
  margin-bottom: 10px;
}

.select {
  height: 30px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #5e584e;
}
